body {
    font-family: Arial, sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-around;
    background-color: #4CAF50;
    padding: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    border-radius: 5px;
}

button:hover {
    background-color: #ddd;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#messageInputSection input {
    width: 80%;
    padding: 5px;
}

#messageInputSection button {
    width: 15%;
}

#opinionInput {
    width: 100%;
    padding: 10px;
    height: 100px;
}

#opinionList {
    margin-bottom: 20px;
}
